
body{
    font-family: "Arial", "メイリオ";
    background-color:white;
    color:black;
    font-size: 18px;

}


.title{
    font-size:24px;
    color:rgb(255, 255, 255);
    line-height:normal;
    margin: 0px;
    height: 50px;
    width: 200vw;
    background-color: #013a7c;

}

.name{
    font-size: 36px;
    color:black;
    line-height: 1mm;

}

.namee{
    font-size: 20px;
    color: darkgray;
    line-height: 1mm;
}

.top{
    font-size:36px;
    line-height: 1mm;
}


 .side {
   background-color:white;
   width:100px;
   height:300px;
   text-align:center;
 } 
 
 .content {
   margin-left:10px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
 }
 
 article {
   display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
 }