
body{
    font-family: "Arial", "メイリオ";
    background-color:white;
    color:black;
    font-size: 16px;
    width:800px;
    margin-right:auto;
    margin-left:auto;
    
}

.title{
    font-size:24px;
    padding: 0.2em 1em;
    color:rgb(255, 255, 255);
    line-height:normal;
    margin: 0px;
    height: 50px;
    width: 200vw;
    background-color: #778ca3;

}

.name{
    font-size: 36px;
    color:black;
    line-height: 1mm;

}

.namee{
    font-size: 20px;
    color: darkgray;
    line-height: 1mm;
}


 .content {
   margin-left:10px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
 }

 table {
    text-align:left;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
   }
   table th {
    padding: 10px;
    border-bottom: solid 4px #778ca3;

   }
   table td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
   }

   .top {
    font-size:30px;
    line-height: 0.5;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #013a7c;/*左線*/
  }

  .sub {
    font-size:22px;
    position: relative;
    display: inline-block;
    padding: 0 65px;
    text-align: center;
  }
  
  .sub:before,
  .sub:after {
    position: absolute;
    top: calc(50% - 3px);
    width: 50px;
    height: 6px;
    content: '';
    border-top: solid 2px #778ca3;
    border-bottom: solid 2px #778ca3;
  }
  
  .sub:before {
    left: 0;
  }
  
  .sub:after {
    right: 0;
  }

  ul{
    line-height: 8mm;
  }

  .container {
    width: 1000px;
    display: -webkit-flex;
    display: flex;
  }
  .main {
    display: block;
    width: 660px;
    margin-right: 20px;
  }
  .sidebar {
    width: 320px;
    text-align:center;
  }
  .sidebar__item {
    margin-bottom: 20px;
  }
  .sidebar__item--fixed {
    text-align:center;

    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
  }