<header>
  <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">ホーム</a></li>
      <li><a href="{{ '/research-works.html' | relative_url }}">研究実績</a></li>
      <li><a href="{{ '/research.html' | relative_url }}">研究</a></li>
      <li><a href="{{ '/skills.html' | relative_url }}">スキル</a></li>
      <li><a href="{{ '/articles.html' | relative_url }}">研究記事</a></li>
      <li><a href="{{ '/others.html' | relative_url }}">その他</a></li>
    </ul>
  </nav>
</header>