---
layout: base.njk
title: その他
bodyClass: other-page
permalink: /other.html
---
<section id="other-topics" class="section">
    <div class="container">
        <h2 class="section-title">その他</h2>
        <p class="lead-text">
            ここでは、研究以外の個人的な活動や、日々の気づき、趣味などについて紹介しています。<br>
            私という人間をより深く知っていただけるようなコンテンツを目指します。
        </p>
        <div class="article-grid">
            {% for article in otherArticles %}
            <div class="article-card">
                <h3 class="article-card-title"><a href="{{ article.href }}">{{ article.title }}</a></h3>
                <p class="article-card-date">{{ article.date }}</p>
                <p class="article-card-description">{{ article.description }}</p>
                <a href="{{ article.href }}" class="read-more">続きを読む &gt;</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
