---
permalink: search-index.json
eleventyExcludeFromCollections: true
---
[
{% for post in collections.articlesOrdered %}
{
  "title": {{ post.data.title | jsonify | safe }},
  "url": "{{ post.url }}",
  "date": "{{ post.data.displayDate or (post.date | fmtDate) }}",
  "description": {{ (post.data.description or '') | jsonify | safe }},
  "content": {{ (post.templateContent | striptags | squash) | jsonify | safe }}
}{% if not loop.last %},{% endif %}
{% endfor %}
]
